header{text-align: center;background-color: black; padding: 20px;margin: 20px;}
h1{color: white;}
a{background-color:rgb(220, 220, 220) ;border:1px solid rgb(220, 220, 220) ;border-radius:15px;padding:2
px;margin-left:23px ;padding: 6px;text-decoration: none}
body{background-color: rgb(101, 104, 109);}
img{height:150px;}
main{color: rgb(121, 121, 121); text-align: center;}
footer{background-color: rgb(58, 58, 58);margin-top:40px ;}
table{text-align: center;}
